@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

section {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  width: 100%;
}

.sect-one {
  background-color: rgb(67, 198, 255);
  align-items: center;
  flex-direction: column;
}
.sect-one a {
  text-decoration: none;
}
.sect-one a h1 {
  font-size: 9vw;
  font-family: "Lilita one";
  text-transform: uppercase;
  text-align: center;
  color: #046190;
}
.sect-one p {
  font-size: 3vw;
  font-family: "Lilita one";
  color: white;
  margin-top: 10vw;
  text-align: center;
  margin-right: 7vw;
  margin-left: 7vw;
}
.sect-one h2 {
  font-size: 4vw;
  font-family: "Lilita one";
  color: white;
}
.sect-one__header {
  display: flex;
  align-items: center;
  margin-left: 7vw;
  margin-right: 7vw;
  justify-content: space-evenly;
  width: 100%;
}
.sect-one__clouds {
  display: flex;
  flex-direction: column;
}
.sect-one__clouds .cloud1 {
  height: 120px;
  margin-top: 40px;
  animation: cloudGlide 40s linear infinite;
}
.sect-one__clouds .cloud2 {
  height: 120px;
  margin-top: 70px;
  animation: cloudGlide 50s linear infinite;
}
.sect-one #sun {
  height: 170px;
  display: table-cell;
  margin-top: 3vw;
}

.sect-two {
  background-color: rgb(67, 198, 255);
  flex-direction: column;
  overflow-y: hidden;
  justify-content: space-between;
  background-attachment: local, local, scroll, scroll;
}
.sect-two__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sect-two__info h2 {
  font-family: "lilita one";
  font-size: 5vw;
  color: white;
  margin-bottom: 10vw;
  margin-top: 6vw;
}
.sect-two__info p {
  font-family: "lilita one";
  font-size: 3vw;
  color: white;
  margin-left: 7vw;
  margin-right: 7vw;
}
.sect-two img {
  animation: moveWave 3s infinite;
  width: 100vw;
}

.sect-three {
  background: linear-gradient(to bottom, #0099ff, #004471);
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.sect-three h2 {
  color: white;
  font-family: "Lilita one";
  font-size: 6vw;
}
.sect-three p {
  color: white;
  font-family: "Lilita one";
  font-size: 3vw;
  margin-right: 7vw;
  margin-left: 7vw;
  margin-top: 3vw;
  z-index: 1;
}
.sect-three__fishes {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}
.sect-three__fishes #fish1 {
  width: 10vw;
  animation: fishSwim 25s linear infinite;
  position: relative;
  top: 17vw;
  z-index: 2;
}
.sect-three__fishes #fish2 {
  width: 8vw;
  animation: fishSwim 35s linear infinite;
  position: relative;
  top: 8vw;
}
.sect-three #diver {
  width: 6vw;
  opacity: 30%;
  position: relative;
  left: 20vw;
}

.sect-four {
  background: linear-gradient(to bottom, #004471, #00304f);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect-four h2 {
  color: white;
  font-family: "Lilita one";
  font-size: 6vw;
}
.sect-four p {
  color: white;
  font-family: "Lilita one";
  font-size: 3vw;
  margin-right: 7vw;
  margin-left: 7vw;
  margin-top: 3vw;
}
.sect-four p a {
  color: white;
}
.sect-four p a:hover {
  color: lightgrey;
}
.sect-four .ocean-floor #greystone {
  width: 15vw;
  position: relative;
  left: 3vw;
  top: 8vw;
  z-index: 1;
}
.sect-four .ocean-floor #titanic {
  position: relative;
  top: 9vw;
  left: 28vw;
  z-index: 1;
  width: 15vw;
}
.sect-four .ocean-floor #plasticbottle {
  width: 6vw;
  position: relative;
  top: 7vw;
  z-index: 1;
  left: 30vw;
  transform: rotate(50deg);
}
.sect-four .ocean-floor #sand {
  width: 100vw;
  position: relative;
  z-index: 0;
}

.reveal {
  position: SpeechRecognitionAlternative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 3s ease;
}

.reveal.active {
  transform: translate(0px);
  opacity: 1;
}

@keyframes cloudGlide {
  0% {
    transform: translateX(-95vw);
  }
  100% {
    transform: translateX(80vw);
  }
}
@keyframes fishSwim {
  0% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateX(-60vw);
  }
}
@keyframes moveWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1vw);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 700px) {
  h2,
  p {
    font-size: 1.5rem;
  }
  .sect-one__header,
  .sect-two__header,
  .sect-three__header,
  .sect-four__header {
    flex-direction: column;
  }
  .sect-one__header h1,
  .sect-two__header h1,
  .sect-three__header h1,
  .sect-four__header h1 {
    position: relative;
    top: 30vw;
    z-index: 1;
  }
  .sect-one__header #sun,
  .sect-two__header #sun,
  .sect-three__header #sun,
  .sect-four__header #sun {
    display: none;
  }
  .sect-one h2,
  .sect-two h2,
  .sect-three h2,
  .sect-four h2 {
    font-size: 2rem;
    margin-top: 5vw;
  }
  .sect-one p,
  .sect-two p,
  .sect-three p,
  .sect-four p {
    font-size: 8vw;
  }
  .sect-one #wave,
  .sect-two #wave,
  .sect-three #wave,
  .sect-four #wave {
    width: 100vw;
  }
  .sect-one__clouds,
  .sect-three__fishes,
  .ocean-floor {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sect-one__clouds img,
  .sect-three__fishes img,
  .ocean-floor img {
    width: 50%;
    max-height: 100px;
  }
}
.sect-two img,
.sect-four img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */