@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    width: 100%;
}

.sect-one {
    background-color: rgb(67, 198, 255);
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 5rem;
        font-family: 'Lilita one';
        margin-top: 30px;
        margin-left: 80px;
        text-transform: uppercase;
        text-align: center;

    }
    
    p{
        font-size: 3rem;
        font-family: 'Lilita one';
        color: white;
        margin-top: 17vw;
        text-align: center;
    }

    &__header{
        display: table;
        grid-template-columns: auto 1fr;
        grid-gap: 10px; /* Adjust the value to add space between the image and text */
        align-items: center;
    }

    &__clouds {

        display: table-cell;
        flex-direction: row;

        .cloud1 {
            height: 120px;
            margin-top: 40px;
            animation: cloudGlide 40s linear infinite;
        }

        .cloud2 {
            height: 120px;
            margin-top: 40px;
            animation: cloudGlide 50s linear infinite;
        }
    }

    &__sun {
        height: 170px;
        display:table-cell;
    }

}

.sect-two {
    background-color: rgb(67, 198, 255);
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    justify-content: space-between;
    overflow-x: hidden;

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            font-family: 'lilita one';
            font-size: 5vw;
            color: white;
            margin-bottom: 10vw;
            margin-top: 6vw;
        }
    
        p {
            font-family: 'lilita one';
            font-size: 3vw;
            color: white;
            margin-left: 7vw;
            margin-right: 7vw;
        } 
    }   

    img {
        animation: moveWave 3s infinite;
        width: 110vw;
    }
}


.sect-three {
    background: linear-gradient(to bottom, #0099ff, #004471);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        font-family: 'Lilita one';
        font-size: 6vw;
    }
    
    p {
        color: white;
        font-family: 'Lilita one';
        font-size: 3vw;
        margin-right: 7vw;
        margin-left: 7vw;
        margin-top: 3vw;
        z-index: 1;
    }

    &__fishes {

        display: flex;
        flex-direction: column;
        margin-top: 5vw;

        #fish1 {
            width: 10vw;
            animation: fishSwim 25s linear infinite;
            position: relative;
            top: 17vw;
            z-index: 2;
        }

        #fish2 {
            width: 8vw;
            animation: fishSwim 35s linear infinite;
            position: relative;
            top: 8vw;
        }
    }

    #diver {
        width: 6vw;
        opacity: 40%;
        position: relative;
        left: 20vw;
    }
}

.sect-four {
    background: linear-gradient(to bottom, #004471, #00304f);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: white;
        font-family: 'Lilita one';
        font-size: 6vw;
    }

    p {
        color: white;
        font-family: 'Lilita one';
        font-size: 3vw;
        margin-right: 7vw;
        margin-left: 7vw;
        margin-top: 3vw;
    }
    
    .ocean-floor {

      #greystone {
          width: 15vw;
          position: relative;
          left: 3vw;
          top: 8vw;
          z-index: 1;
      }

      #titanic {
          height: 250px;
          position: relative;
          top: 9vw;
          left: 28vw;
          z-index: 1;
          width: 15vw;
      }

      #plasticbottle {
          width: 6vw;
          position: relative;
          top: 7vw;
          z-index: 1;
          left: 30vw;
          transform: rotate(50deg);
      }

      #sand {
          width: 100vw;
          position: relative;
          z-index: 0;
      }
   }
}

@keyframes cloudGlide {
    0% {
        transform: translateX(-850px);
    }
    100% {
        transform: translateX(1600px);

    }
}

@keyframes fishSwim {
    0% {
        transform: translateX(60vw);
    }

    100% {
        transform: translateX(-60vw);
    }
}

  
@keyframes moveWave {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-2vw); 
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 700px) {
    h1, h2, p {
      font-size: 1.5rem; // Reduserer fontstørrelsen
    }
  
    .sect-one, .sect-two, .sect-three, .sect-four {
      padding: 10px;
      h1, h2 {
        font-size: 1.25rem; // Juster tekststørrelser for overskrifter
      }
  
      p {
        font-size: 1rem; // Juster tekststørrelser for paragrafer
      }
    }
  
    .sect-one__clouds, .sect-three__fishes, .ocean-floor {
      flex-direction: row;
      flex-wrap: wrap; // Gjør at elementene kan brytes over flere linjer
  
      img {
        width: 50%; // Justerer bildene til å ta halvparten av tilgjengelig bredde
        max-height: 100px; // Begrenser bildenes høyde
      }
    }
  }
  
  // Andre spesifikke tilpasninger for responsivitet
  .sect-two img, .sect-three #diver, .sect-four img {
    width: 100%; // Sikrer at bilder ikke overstiger containerens bredde
  }
