@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    width: 100%;
}

.sect-one {
    background-color: rgb(67, 198, 255);
    flex-direction: row;

    h1 {
        font-size: 5rem;
        font-family: 'Lilita one';
        margin-top: 30px;
        margin-left: 80px;
        text-transform: uppercase;

    }

    &__clouds {

        display: flex;
        flex-direction: column;

        .cloud1 {
            height: 120px;
            margin-top: 40px;
            animation: cloudGlide 40s linear infinite;
        }

        .cloud2 {
            height: 120px;
            margin-top: 40px;
            animation: cloudGlide 50s linear infinite;
        }
    }

    &__sun {
        height: 170px;
        margin-top: 80px;
    }

}

.sect-two {
    background-color: rgb(67, 198, 255);
}

.sect-three {
    background: linear-gradient(to bottom, #0099ff, #004471);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        font-family: 'Lilita one';
        font-size: 6vw;
    }
    
    p {
        color: white;
        font-family: 'Lilita one';
        font-size: 3vw;
        margin-right: 7vw;
        margin-left: 7vw;
        margin-top: 3vw;
        z-index: 1;
    }

    &__fishes {

        display: flex;
        flex-direction: column;
        margin-top: 5vw;

        #fish1 {
            width: 10vw;
            animation: fishSwim 25s linear infinite;
            position: relative;
            top: 17vw;
            z-index: 2;
        }

        #fish2 {
            width: 8vw;
            animation: fishSwim 35s linear infinite;
            position: relative;
            top: 8vw;
        }
    }

    #diver {
        width: 6vw;
        opacity: 40%;
        position: relative;
        left: 20vw;
    }
}

.sect-four {
    background: linear-gradient(to bottom, #004471, #00304f);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: white;
        font-family: 'Lilita one';
        font-size: 6vw;
    }

    p {
        color: white;
        font-family: 'Lilita one';
        font-size: 3vw;
        margin-right: 7vw;
        margin-left: 7vw;
        margin-top: 3vw;
    }
}

.ocean-floor {

    #greystone {
        width: 15vw;
        position: relative;
        left: 3vw;
        top: 8vw;
        z-index: 1;
    }

    #titanic {
        height: 250px;
        position: relative;
        top: 9vw;
        left: 28vw;
        z-index: 1;
        width: 15vw;
    }

    #plasticbottle {
        width: 6vw;
        position: relative;
        top: 7vw;
        z-index: 1;
        left: 30vw;
        transform: rotate(50deg);
    }

    #sand {
        width: 100vw;
        position: relative;
        z-index: 0;
    }
}

@keyframes cloudGlide {
    0% {
        transform: translateX(-850px);
    }
    100% {
        transform: translateX(1600px);

    }
}

@keyframes fishSwim {
    0% {
        transform: translateX(60vw);
    }

    100% {
        transform: translateX(-60vw);
    }
}