@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

section {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  width: 100%;
}

.sect-one {
  background-color: rgb(67, 198, 255);
  flex-direction: row;
}
.sect-one h1 {
  font-size: 5rem;
  font-family: "Lilita one";
  margin-top: 30px;
  margin-left: 80px;
  text-transform: uppercase;
}
.sect-one__clouds {
  display: flex;
  flex-direction: column;
}
.sect-one__clouds .cloud1 {
  height: 120px;
  margin-top: 40px;
  animation: cloudGlide 40s linear infinite;
}
.sect-one__clouds .cloud2 {
  height: 120px;
  margin-top: 40px;
  animation: cloudGlide 50s linear infinite;
}
.sect-one__sun {
  height: 170px;
  margin-top: 80px;
}

.sect-two {
  position: relative; /* Viktig: Setter konteksten for absolutt posisjonerte elementer */
  background-color: rgb(67, 198, 255);
  flex-direction: column;
  overflow: hidden; /* Hindrer at SVG går utenfor seksjonen */
}

.sect-two svg {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Sørger for at SVG er bak teksten */
}

.waves {
  width: 100%;  /* Sikrer at bølgecontaineren dekker hele bredden av seksjonen */
  height: 1vh; /* Juster høyden etter behov */
  bottom: 0;
  overflow: hidden;
  justify-content: end;
}

.back-wave, .front-wave {
  position: absolute;
  left: -10%; /* Sentrerer bølgen ved å justere left offset */
  bottom: 0;
}

.back-wave {
  z-index: 0;  /* Lavere z-index for bakbølgen */
  animation: swingWave 8s ease-in-out infinite;
  fill: #f3f4f5; /* Lyse bølgefarge */
  width: 100%;

}

.front-wave {
  z-index: 2;  /* Høyere z-index for frontbølgen */
  animation: moveWaveFront 10s ease-in-out infinite alternate;
  fill: #0099ff; 
  width: 130vw;
}

.sect-three {
  background: linear-gradient(to bottom, #0099ff, #0172bd);
  justify-content: space-between;
}
.sect-three__fish1 {
  width: 10vw;
  animation: fishSwim 30s linear infinite;
}
.sect-three__fish2 {
  width: 8vw;
  animation: fishSwim 35s linear infinite;
}

.sect-four {
  background: linear-gradient(to bottom, #0172bd, #005995);
}

.sect-five {
  background: linear-gradient(to bottom, #005995, #004471);
}

.sect-six {
  background: linear-gradient(to bottom, #004471, #00304f);
  flex-direction: column;
  justify-content: end;
}
.sect-six__titanic {
  height: 250px;
  position: relative;
  top: 7vw;
  left: 28vw;
  z-index: 1;
  width: 15vw;
}
.sect-six__sand {
  width: 100vw;
  position: relative;
  z-index: 0;
}

@keyframes moveWaveFront {
  0%, 100% { transform: translateX(0); }
  40% { transform: translateX(10%); } /* Juster for mer eller mindre bevegelse */
}

@keyframes swingWave {
  0%, 100% { transform: translateY(0) rotate(0); }
  25% { transform: translateY(-5%) rotate(-2deg); }
  50% { transform: translateY(0) rotate(0); }
  75% { transform: translateY(5%) rotate(2deg); }
}

@keyframes cloudGlide {
  0% {
    transform: translateX(-850px);
  }
  100% {
    transform: translateX(1600px);
  }
}
@keyframes fishSwim {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(-110vw);
  }
}/*# sourceMappingURL=style.css.map */